h1 {
    font-size: 18pt;
}

label {
    width: 120px;
    text-align: right;
    display: inline-block;
    vertical-align: baseline
}

@media only screen and (max-width: 480px) {
    label {
        width: 120px;
        text-align: left;
        display: block;
    }
}